<div class="container">
  <div *ngFor="let item of bombsAroundCell">
    <span *ngFor="let cell of item">
      <div *ngIf="cell.isBomb" class="board-cell">
        <span (click)="openCell(cell)" [ngClass]="{coverOpened:cell.isHidden, coverClosed:true}">
          *
        </span>
      </div>
      <div *ngIf="cell.isBomb != true" class="board-cell">
        <span (click)="openCell(cell)" [ngClass]="{coverOpened:cell.isHidden, coverClosed:true}">
          {{cell.numberOfBombsAround}}
        </span>
      </div>
    </span>
    <br>
  </div>
</div>
