@import '../../variables.scss';

.board-cell {
  border: 1px solid black;
  display: inline-block;
  height: 20px;
  margin: 2px 0;
  position: relative;
  text-align: center;
  width: 20px;
}

.coverClosed {
  opacity: 0;
  background-color: $open-cell;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}

.coverOpened {
  opacity: 1;
}

.bombs {
  background-color: green;
}

.flagCell {
  height: 100%;
  position: absolute;
  width: 100%;
}

.row {
  min-width: 300px;
}
